<div class="d-flex align-items-center">
  <div class="flex-grow-1">
    <mat-form-field class="w-99">
      <mat-label> {{ label }} </mat-label>
      <input
        matInput
        [formControl]="search"
        (ngModelChange)="searchSub.next($event)"
      />
      <mat-icon matSuffix (click)="resetSearch()" class="cursor-pointer">
        close
      </mat-icon>
      <mat-error *ngIf="search.hasError('minlength')">
        Necessário informar ao menos 5 caracteres
      </mat-error>
    </mat-form-field>
  </div>

  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="onClickInsert()"
  >
    <mat-icon>add_circle_outline</mat-icon>
    Cadastrar
  </button>
  <button mat-icon-button type="button" (click)="onClickRefresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
